@charset "UTF-8";
/*   
Theme Name: Wraeclast Redux
Description: The fourth iteration of leftclick.it -- it's like version two with a major upgrade.
Author: @skullface
Author URI: http://jessicapaoli.coms
Version: 2.1
Tags: mine, pro hax, bye
 _                           _                 _ __ ___ | | __ _   _ __  _ __ ___   | |__   __ ___  __
| '_ ` _ \| |/ _` | | '_ \| '__/ _ \  | '_ \ / _` \ \/ /
| | | | | | | (_| | | |_) | | | (_) | | | | | (_| |>  < 
|_| |_| |_|_|\__, | | .__/|_|  \___/  |_| |_|\__,_/_/\_\ |___/  |_|                                 

*/
/*
	SETTINGS
	------------------------------------------------------------------------ //
	Global variables to set the base styles.
	------------------------------------------------------------------------ //
	
	I.	Theme directories

	II.	Typography
				A. @font-face declarations
				B. Base definitions
						1. Weights
						2. Sizes
						3. Stacks
				C. Generic styles
 III. Colors
				A. Descriptive variables
				B. Functional variables
				C. Layout colors

	IV.	Icons

	------------------------------------------------------------------------ */
@font-face { font-family: 'LeftclickIcons'; src: url("http://localhost/leftclickit/wp-content/themes/wraeclast/css/base/fonts/LeftclickIcons.eot"); src: url("http://localhost/leftclickit/wp-content/themes/wraeclast/css/base/fonts/LeftclickIcons.eot?#iefix") format("embedded-opentype"), url("http://localhost/leftclickit/wp-content/themes/wraeclast/css/base/fonts/LeftclickIcons.woff") format("woff"), url("http://localhost/leftclickit/wp-content/themes/wraeclast/css/base/fonts/LeftclickIcons.ttf") format("truetype"), url("http://localhost/leftclickit/wp-content/themes/wraeclast/css/base/fonts/LeftclickIcons.svg#LeftclickIcons") format("svg"); font-weight: normal; font-style: normal; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/base\/_settings\.scss}line{font-family:\0000386}}
h1, h2, h3, h4, h5, h6, .site-navigation-menu li a, .comment-form label, .related-post-category, .post-archive-category, .read-more { font-family: "ff-dagny-web-pro", "din-condensed-web", "DIN", Helvetica, Arial, sans-serif; font-weight: 900; text-transform: uppercase; line-height: 1; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/base\/_settings\.scss}line{font-family:\0000393}}
.post-tags a, #post-navigation span { font-size: 0.7em; font-family: "ff-dagny-web-pro", "din-condensed-web", "DIN", Helvetica, Arial, sans-serif; }

/* I. Global — Global styling
====================================================== */
/*
	RESET
	------------------------------------------------------------------------ //
	Lifted and edited from Tim Murtagh's HTML5 Reset
	https://github.com/murtaugh/HTML5-Reset/blob/master/_/css/reset.css ------------------------------------------------------------------------ */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/global\/_reset\.scss}line{font-family:\000038}}
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary { margin: 0; padding: 0; border: 0; font-size: 100%; vertical-align: baseline; background: transparent; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/global\/_reset\.scss}line{font-family:\0000317}}
article, aside, figure, footer, header, nav, section, details, summary { display: block; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/global\/_reset\.scss}line{font-family:\0000320}}
img, object, embed { max-width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/global\/_reset\.scss}line{font-family:\0000323}}
html { overflow-y: scroll; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/global\/_reset\.scss}line{font-family:\0000325}}
del { text-decoration: line-through; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/global\/_reset\.scss}line{font-family:\0000327}}
abbr[title], dfn[title] { border-bottom: 1px dotted #000; cursor: help; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/global\/_reset\.scss}line{font-family:\0000333}}
p { margin: 0; padding: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/global\/_reset\.scss}line{font-family:\0000338}}
p + p { margin-top: 1em; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/global\/_reset\.scss}line{font-family:\0000343}}
table { border-collapse: collapse; border-spacing: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/global\/_reset\.scss}line{font-family:\0000344}}
th { font-weight: bold; vertical-align: bottom; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/global\/_reset\.scss}line{font-family:\0000345}}
td { font-weight: normal; vertical-align: top; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/global\/_reset\.scss}line{font-family:\0000347}}
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/global\/_reset\.scss}line{font-family:\0000349}}
input, select { vertical-align: middle; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/global\/_reset\.scss}line{font-family:\0000351}}
pre { white-space: pre; white-space: pre-wrap; white-space: pre-line; word-wrap: break-word; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/global\/_reset\.scss}line{font-family:\0000358}}
input[type="radio"] { vertical-align: text-bottom; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/global\/_reset\.scss}line{font-family:\0000359}}
input[type="checkbox"] { vertical-align: bottom; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/global\/_reset\.scss}line{font-family:\0000360}}
.ie7 input[type="checkbox"] { vertical-align: baseline; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/global\/_reset\.scss}line{font-family:\0000361}}
.ie6 input { vertical-align: text-bottom; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/global\/_reset\.scss}line{font-family:\0000363}}
select, input, textarea { font: 99% sans-serif; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/global\/_reset\.scss}line{font-family:\0000365}}
table { font-size: inherit; font: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/global\/_reset\.scss}line{font-family:\0000367}}
small { font-size: 85%; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/global\/_reset\.scss}line{font-family:\0000369}}
strong { font-weight: bold; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/global\/_reset\.scss}line{font-family:\0000371}}
td, td img { vertical-align: top; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/global\/_reset\.scss}line{font-family:\0000373}}
sub, sup { font-size: 75%; line-height: 0; position: relative; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/global\/_reset\.scss}line{font-family:\0000374}}
sup { top: -0.5em; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/global\/_reset\.scss}line{font-family:\0000375}}
sub { bottom: -0.25em; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/global\/_reset\.scss}line{font-family:\0000378}}
pre, code, kbd, samp { font-family: monospace, sans-serif; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/global\/_reset\.scss}line{font-family:\0000385}}
label, input[type=button], input[type=submit], input[type=file], button { cursor: pointer; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/global\/_reset\.scss}line{font-family:\0000388}}
button, input, select, textarea { margin: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/global\/_reset\.scss}line{font-family:\0000391}}
button { width: auto; overflow: visible; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/global\/_reset\.scss}line{font-family:\0000394}}
.ie7 img { -ms-interpolation-mode: bicubic; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/global\/_reset\.scss}line{font-family:\0000397}}
.ie6 html { filter: expression(document.execCommand("BackgroundImageCache", false, true)); }

/* GRID ------------------------------------------------------------------------ // Until something better comes along. ------------------------------------------------------------------------ */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/global\/_grid\.scss}line{font-family:\0000318}}
header, footer, article, aside, section, ul, li, span, a, div { -moz-box-sizing: border-box; box-sizing: border-box; }

/* Grid definitions and functions ------------------------------------------------------------------------ // Based off Skeleton-SASS V1.0 | Copyright 2012 by Michael Lazer-Walker https://github.com/lazerwalker/Skeleton-Sass
 Based off of Skeleton v1.1: https://github.com/dhgamache/Skeleton Free to use under the MIT license. | http://www.opensource.org/licenses/mit-license.php ------------------------------------------------------------------------ */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/global\/_grid\.scss}line{font-family:\00003116}}
.container, .content-area { margin: 0 auto; max-width: 100%; *zoom: 1; }
@media only screen and (max-width: 480px) { @media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/global\/_grid\.scss}line{font-family:\00003116}}
  .container, .content-area { padding: 1em; } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/global\/_grid\.scss}line{font-family:\0000388}}
.container:before, .content-area:before, .container:after, .content-area:after { content: " "; display: table; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/global\/_grid\.scss}line{font-family:\0000392}}
.container:after, .content-area:after { clear: both; }

/*
	HELPERS
	------------------------------------------------------------------------ //
	Sass mixins and silent classes to aid in presentation and accessibility.
	------------------------------------------------------------------------ */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/global\/_helpers\.scss}line{font-family:\0000324}}
.entry-meta a, .entry-meta time, .comment-body { padding-bottom: 0.5em; margin-bottom: 0.5em; border-bottom: solid 1px #dedede; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/global\/_helpers\.scss}line{font-family:\0000334}}
input:hover, textarea:hover, select:hover, button:hover { -webkit-transition: all 0.35s ease-in-out; transition: all 0.35s ease-in-out; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/global\/_helpers\.scss}line{font-family:\0000339}}
nav ul, .comment-list, #comments .children { margin: 0; padding: 0; list-style-type: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/global\/_helpers\.scss}line{font-family:\0000359}}
.align-left, .alignleft { float: left; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/global\/_helpers\.scss}line{font-family:\0000360}}
.align-right, .alignright { float: right; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/global\/_helpers\.scss}line{font-family:\0000363}}
img.align-left, img.alignleft { margin: 0 2em 0 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/global\/_helpers\.scss}line{font-family:\0000364}}
img.align-right, img.alignright { margin: 0 0 0 2em; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/global\/_helpers\.scss}line{font-family:\0000370}}
.video-wrapper { position: relative; padding-bottom: 56.25%; /* 16:9 */ padding-top: 25px; height: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/global\/_helpers\.scss}line{font-family:\0000378}}
.video-wrapper object, .video-wrapper embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/global\/_helpers\.scss}line{font-family:\00003125}}
[data-icon]:before { content: attr(data-icon); }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/global\/_helpers\.scss}line{font-family:\00003141}}
.screen-reader-text { display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/global\/_helpers\.scss}line{font-family:\00003158}}
.wf-loading p, .wf-loading span, .wf-loading em, .wf-loading strong, .wf-loading li, .wf-loading h1 { visibility: hidden; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/global\/_helpers\.scss}line{font-family:\00003162}}
.wf-active { visibility: visible; }

/*
	TYPOGRAPHY
	------------------------------------------------------------------------ //
	Starting point for all the type basics. These shouldn't change.
	------------------------------------------------------------------------ */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/global\/_typography\.scss}line{font-family:\0000318}}
[data-icon]:before, .sb-icon-search { font-family: '$font-family-icons'; speak: none; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/global\/_typography\.scss}line{font-family:\0000332}}
::selection { background: #bf33fb; color: #fff; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/global\/_typography\.scss}line{font-family:\0000337}}
body { font: 400 1em "source-sans-pro", "Freight Sans Pro", "Open Sans", Helvetica, Arial, sans-serif; line-height: 1.45; color: #111111; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/global\/_typography\.scss}line{font-family:\0000345}}
a { color: #bf33fb; text-decoration: none; padding-bottom: 1px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/global\/_helpers\.scss}line{font-family:\0000312}}
a:hover, a:focus { color: #111111; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/global\/_typography\.scss}line{font-family:\0000354}}
code { background: #dedede; padding: .3em .5em; margin: 0 .25em; overflow: auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/global\/_typography\.scss}line{font-family:\0000362}}
h1 { margin: 0 0 .25em 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/global\/_typography\.scss}line{font-family:\0000371}}
h2, h3, h4, h5, h6 { margin: 1.25em 0 .25em 0; }

/* II. Base — Sitewide specifics
====================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/base\/_forms\.scss}line{font-family:\000037}}
input[type="text"], input[type="email"], input[type="url"], input[type="search"], input[type="submit"], textarea, select { margin-bottom: .5em; padding: .5em .85em; border: 0; outline: none; font: 400 1em "source-sans-pro", "Freight Sans Pro", "Open Sans", Helvetica, Arial, sans-serif; line-height: 1.45; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/base\/_forms\.scss}line{font-family:\0000319}}
label + input[type="text"], label + input[type="email"], label + input[type="url"], label + textarea { display: block; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/base\/_forms\.scss}line{font-family:\0000328}}
input[type="text"], input[type="email"], input[type="url"], input[type="search"], textarea, select { width: 80%; color: #111111; border-left: solid 10px rgba(0, 0, 0, 0.15); background-color: rgba(0, 0, 0, 0.05); }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/base\/_forms\.scss}line{font-family:\0000338}}
input:hover, textarea:hover, select:hover, button:hover { border-color: #bf33fb !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/base\/_forms\.scss}line{font-family:\0000345}}
input:focus, textarea:focus, select:focus, button:focus { outline: none; box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.05); }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/base\/_forms\.scss}line{font-family:\0000350}}
select { border-color: rgba(0, 0, 0, 0.5); }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/base\/_forms\.scss}line{font-family:\0000355}}
input[type="radio"], input[type="checkbox"] { margin: 0 .5em 0 1em; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/base\/_forms\.scss}line{font-family:\0000359}}
form li { margin-bottom: 1em; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/base\/_buttons\.scss}line{font-family:\000033}}
input[type="submit"], button { padding: 4px 10px; background: #bf33fb; border: #560279; border-radius: .3em; font: 700 0.94444em "source-sans-pro", "Freight Sans Pro", "Open Sans", Helvetica, Arial, sans-serif; color: #fff; box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 2px 1px 0 rgba(0, 0, 0, 0.2); }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/global\/_helpers\.scss}line{font-family:\0000312}}
input[type="submit"]:hover, input[type="submit"]:focus, button:hover, button:focus { background-color: #b71afb; box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.2); }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/base\/_buttons\.scss}line{font-family:\0000317}}
input[type="submit"]:active, button:active { background-color: #b20bfa; box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.3), 0 1px 0 0 rgba(0, 0, 0, 0.2); }

/* III. Modules — Sitewide standalone logic elements
====================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/modules\/_navigation\.scss}line{font-family:\000031}}
.site-navigation-menu { position: relative; z-index: 1001; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/modules\/_navigation\.scss}line{font-family:\000036}}
.site-navigation-menu li { float: left; padding: 0; margin: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/modules\/_navigation\.scss}line{font-family:\0000310}}
.site-navigation-menu li a { position: relative; color: #bfbfbf; line-height: 1.35; text-shadow: 0 1px 0 #000; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/modules\/_navigation\.scss}line{font-family:\0000316}}
.site-navigation-menu li a:before { position: absolute; top: 0; left: 0; overflow: hidden; max-width: 0; color: #fff; content: attr(data-hover); -webkit-transition: max-width 0.275s ease-in-out; transition: max-width 0.275s ease-in-out; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/modules\/_navigation\.scss}line{font-family:\0000327}}
.site-navigation-menu li a:hover:before, .site-navigation-menu li a:focus:before { max-width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/modules\/_navigation\.scss}line{font-family:\0000331}}
.site-navigation-menu li:after { content: "|"; margin: 0 .45em; color: #4d4d4d; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/modules\/_navigation\.scss}line{font-family:\0000339}}
.site-navigation-menu li:last-child:after, .site-navigation-menu .sub-menu li:after { content: ""; margin: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/modules\/_navigation\.scss}line{font-family:\0000344}}
.site-navigation-menu .sub-menu { display: none; position: absolute; top: 100%; padding: 0; box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.1); }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/modules\/_navigation\.scss}line{font-family:\0000352}}
.site-navigation-menu li:hover > .sub-menu { display: block; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/modules\/_navigation\.scss}line{font-family:\0000356}}
.site-navigation-menu .sub-menu li { float: none; line-height: .8; background: #fff; text-align: left; border-left: solid 4px #dedede; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/modules\/_navigation\.scss}line{font-family:\0000362}}
.site-navigation-menu .sub-menu li a { display: block; padding: .55em .75em; font: 400 0.75em "source-sans-pro", "Freight Sans Pro", "Open Sans", Helvetica, Arial, sans-serif; text-transform: none; text-shadow: none; color: #111111; border-bottom: solid 1px #ebebeb; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/modules\/_navigation\.scss}line{font-family:\0000370}}
.site-navigation-menu .sub-menu li a:before { content: ""; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/modules\/_navigation\.scss}line{font-family:\0000374}}
.site-navigation-menu .sub-menu li:last-child a { border-bottom: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/global\/_helpers\.scss}line{font-family:\0000312}}
.site-navigation-menu .sub-menu li:hover, .site-navigation-menu .sub-menu li:focus { border-color: #bf33fb; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/modules\/_navigation\.scss}line{font-family:\0000379}}
.site-navigation-menu .sub-menu li:hover a, .site-navigation-menu .sub-menu li:focus a { color: #bf33fb; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/global\/_helpers\.scss}line{font-family:\00003104}}
.twitter:before { content: "\e002"; font-family: "LeftclickIcons"; speak: none; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/global\/_helpers\.scss}line{font-family:\00003104}}
.facebook:before { content: "\e006"; font-family: "LeftclickIcons"; speak: none; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/global\/_helpers\.scss}line{font-family:\00003104}}
.youtube:before { content: "\e003"; font-family: "LeftclickIcons"; speak: none; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/global\/_helpers\.scss}line{font-family:\00003104}}
.twitch:before { content: "\e004"; font-family: "LeftclickIcons"; speak: none; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/global\/_helpers\.scss}line{font-family:\00003104}}
.plus:before { content: "\e007"; font-family: "LeftclickIcons"; speak: none; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/global\/_helpers\.scss}line{font-family:\00003104}}
.email:before { content: "\e005"; font-family: "LeftclickIcons"; speak: none; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/modules\/_search-expanding-bar\.scss}line{font-family:\000035}}
.sb-search { float: right; position: relative; width: 0%; min-width: 35px; height: 35px; overflow: hidden; font-size: .8em; -webkit-transition: width 0.35s ease-in-out; transition: width 0.35s ease-in-out; -webkit-backface-visibility: hidden; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/modules\/_search-expanding-bar\.scss}line{font-family:\0000317}}
.sb-search-input { position: absolute; top: 0; right: 0; margin: 0; z-index: 10; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/modules\/_search-expanding-bar\.scss}line{font-family:\0000326}}
.sb-icon-search, .sb-search-submit { display: block; position: absolute; right: 0; top: 0; width: 35px; height: 35px; padding: 0; margin: 0; line-height: 35px; text-align: center; color: #fff !important; cursor: pointer; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/modules\/_search-expanding-bar\.scss}line{font-family:\0000341}}
.sb-search-submit { background: #000; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */ filter: alpha(opacity=0); /* IE 5-7 */ opacity: 0; color: transparent; border: none; outline: none; z-index: -1; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/modules\/_search-expanding-bar\.scss}line{font-family:\0000352}}
.sb-icon-search { font-family: "LeftclickIcons"; font-size: 1.25em; z-index: 90; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/modules\/_search-expanding-bar\.scss}line{font-family:\0000359}}
.sb-icon-search:before { content: "\e001"; }

/* Open state */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/modules\/_search-expanding-bar\.scss}line{font-family:\0000365}}
.sb-search.sb-search-open, .no-js .sb-search { width: 30%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/modules\/_search-expanding-bar\.scss}line{font-family:\0000367}}
.sb-search.sb-search-open .sb-search-input, .no-js .sb-search .sb-search-input { border-left: solid 10px #bf33fb !important; background-color: rgba(255, 255, 255, 0.1) !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/modules\/_search-expanding-bar\.scss}line{font-family:\0000374}}
.sb-search.sb-search-open .sb-icon-search, .no-js .sb-search .sb-icon-search { z-index: 11; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/modules\/_search-expanding-bar\.scss}line{font-family:\0000379}}
.sb-search.sb-search-open .sb-search-submit, .no-js .sb-search .sb-search-submit { z-index: 90; }

/* jQuery Flexslider v2.2.0 http://www.woothemes.com/hero/  Copyright 2012 WooThemes Free to use under the GPLv2 license. http://www.gnu.org/licenses/gpl-2.0.html  Contributing author: Tyler Smith (@mbmufffin) */
/* Necessary Styles
*********************************/
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/modules\/_slider\.scss}line{font-family:\0000316}}
.hero .slides > article { display: none; -webkit-backface-visibility: hidden; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/modules\/_slider\.scss}line{font-family:\0000321}}
.hero .slides img { width: 100%; max-height: 300px; margin-bottom: 20px; overflow: hidden; display: block; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/modules\/_slider\.scss}line{font-family:\0000329}}
.flex-pauseplay span { text-transform: capitalize; }

/* Clearfix for the .slides element */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/modules\/_slider\.scss}line{font-family:\0000334}}
.slides:after { content: "\0020"; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/modules\/_slider\.scss}line{font-family:\0000335}}
html[xmlns] .slides { display: block; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/modules\/_slider\.scss}line{font-family:\0000336}}
* html .slides { height: 1%; }

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you include js that eliminates this class on page load */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/modules\/_slider\.scss}line{font-family:\0000341}}
.no-js .slides > article:first-child { display: block; }

/* Controls
*********************************/
/* Direction Nav */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/modules\/_slider\.scss}line{font-family:\0000346}}
.flex-direction-nav { *height: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/modules\/_slider\.scss}line{font-family:\0000350}}
.flex-direction-nav a { display: block; width: 40px; height: 40px; margin: -20px 0 0; position: absolute; top: 50%; z-index: 10; overflow: hidden; opacity: 0; cursor: pointer; color: rgba(0, 0, 0, 0.8); text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3); -webkit-transition: all .3s ease; -moz-transition: all .3s ease; transition: all .3s ease; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/modules\/_slider\.scss}line{font-family:\0000368}}
.flex-direction-nav .flex-prev { left: -50px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/modules\/_slider\.scss}line{font-family:\0000372}}
.flex-direction-nav .flex-next { right: -50px; text-align: right; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/modules\/_slider\.scss}line{font-family:\0000377}}
.hero:hover .flex-prev { opacity: 0.7; left: 10px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/modules\/_slider\.scss}line{font-family:\0000382}}
.hero:hover .flex-next { opacity: 0.7; right: 10px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/modules\/_slider\.scss}line{font-family:\0000388}}
.hero:hover .flex-next:hover, .hero:hover .flex-prev:hover { opacity: 1; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/modules\/_slider\.scss}line{font-family:\0000392}}
.flex-direction-nav .flex-disabled { opacity: 0 !important; filter: alpha(opacity=0); cursor: default; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/modules\/_slider\.scss}line{font-family:\0000398}}
.flex-direction-nav a:before { display: inline-block; font-size: 40px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/global\/_helpers\.scss}line{font-family:\00003104}}
.flex-direction-nav a.flex-prev:before { content: "\f0d9"; font-family: "LeftclickIcons"; speak: none; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/global\/_helpers\.scss}line{font-family:\00003104}}
.flex-direction-nav a.flex-next:before { content: "\f0da"; font-family: "LeftclickIcons"; speak: none; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

/* Control Nav */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/modules\/_slider\.scss}line{font-family:\00003112}}
.flex-control-nav { width: 100%; text-align: center; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/modules\/_slider\.scss}line{font-family:\00003117}}
.flex-control-nav li { margin: 6px 6px 25px 6px; display: inline-block; zoom: 1; *display: inline; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/modules\/_slider\.scss}line{font-family:\00003124}}
.flex-control-paging li a { width: 11px; height: 11px; display: block; background: #666; background: rgba(0, 0, 0, 0.5); cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3); -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3); -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3); box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3); }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/modules\/_slider\.scss}line{font-family:\00003142}}
.flex-control-paging li a:hover { background: #333; background: rgba(0, 0, 0, 0.7); }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/modules\/_slider\.scss}line{font-family:\00003147}}
.flex-control-paging li a.flex-active { background: #000; background: rgba(0, 0, 0, 0.9); cursor: default; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/modules\/_accordion\.scss}line{font-family:\000032}}
.st-accordion { width: 100%; min-width: 270px; margin: 35px auto 0 auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/modules\/_accordion\.scss}line{font-family:\000038}}
.st-accordion ul li { margin: .25em 0; border-bottom: solid 1px #dedede; overflow: hidden; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/modules\/_accordion\.scss}line{font-family:\0000312}}
.st-accordion ul li:last-child { border: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/modules\/_accordion\.scss}line{font-family:\0000317}}
.st-accordion ul li > a { display: block; height: 50px; font-weight: 700; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/global\/_helpers\.scss}line{font-family:\00003104}}
.st-accordion ul li > a:after { content: "\f0d7"; font-family: "LeftclickIcons"; speak: none; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; color: #bf33fb; position: relative; top: 2px; left: 8px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/modules\/_accordion\.scss}line{font-family:\0000330}}
.st-accordion ul li.st-open > a { color: #111111; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/global\/_helpers\.scss}line{font-family:\00003104}}
.st-accordion ul li.st-open > a:after { content: "\f0d8"; font-family: "LeftclickIcons"; speak: none; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; position: relative; color: #bf33fb; top: 2px; left: 8px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/modules\/_accordion\.scss}line{font-family:\0000339}}
.st-content { padding: 5px 0px 30px 0px; }

@media screen and (max-width: 320px) { @media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/modules\/_accordion\.scss}line{font-family:\0000344}}
  .st-accordion ul li > a { font-size: 36px; } }
/* IV. Layout — Visual Structure Styling
====================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/layout\/_skin\.scss}line{font-family:\000035}}
#primary { margin-top: 5.25em; flex: 1; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/layout\/_skin\.scss}line{font-family:\0000310}}
.home #primary { margin-top: 3.5em; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/layout\/_header\.scss}line{font-family:\000031}}
#leftclickit { display: flex; flex-direction: column; min-height: 100vh; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/layout\/_header\.scss}line{font-family:\000037}}
.site-header { background: #111111 url("http://leftclick.it/wp-content/themes/sanctuary/images/de_dust_reversed.jpg") center center; display: block; position: fixed; top: 0; width: 100%; padding: .45em 2em; margin: 0 auto; font-size: 1.25em; text-align: center; color: white; z-index: 1900; border-bottom: solid 6px #bf33fb; box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2); }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/layout\/_header\.scss}line{font-family:\0000321}}
.site-header a { color: white; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/layout\/_header\.scss}line{font-family:\0000329}}
.site-title, .main-navigation, .menu-main-menu-container, .site-navigation-menu { display: inline-block; vertical-align: middle; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/layout\/_header\.scss}line{font-family:\0000334}}
.site-title { float: left; height: 40px; width: 126px; margin: 0; line-height: 1; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/layout\/_header\.scss}line{font-family:\0000340}}
.site-title a { display: block; width: 100%; height: 100%; text-indent: -9999px; background: url("http://localhost/leftclickit/wp-content/themes/wraeclast/images/leftclickit-logo.png"); }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/layout\/_header\.scss}line{font-family:\0000350}}
.site-header nav, .site-header div form { padding-top: 4px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/layout\/_footer\.scss}line{font-family:\000031}}
.site-footer { margin-top: 2em; padding: 2em; height: 180px; color: #666666; background: #111111 url("http://leftclick.it/wp-content/themes/sanctuary/images/de_dust_reversed.jpg") center center; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/layout\/_footer\.scss}line{font-family:\000037}}
.site-footer a { color: #a6a6a6; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/global\/_helpers\.scss}line{font-family:\0000312}}
.site-footer a:hover, .site-footer a:focus { color: #fff; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/layout\/_footer\.scss}line{font-family:\0000311}}
.site-footer a:hover:before, .site-footer a:focus:before { color: #fff; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/layout\/_footer\.scss}line{font-family:\0000321}}
.site-footer .widget { font-family: "ff-dagny-web-pro", "din-condensed-web", "DIN", Helvetica, Arial, sans-serif; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/layout\/_footer\.scss}line{font-family:\0000323}}
.site-footer .widget h3 { margin-top: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/layout\/_footer\.scss}line{font-family:\0000326}}
.site-footer .widget:last-child { width: 50%; float: right; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/layout\/_footer\.scss}line{font-family:\0000332}}
.widget-internal input[type="search"] { width: 90%; margin-bottom: 2em; background: rgba(255, 255, 255, 0.1); color: #c8c8c8; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/layout\/_footer\.scss}line{font-family:\0000339}}
.widget-internal p { font-size: .85em; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/layout\/_footer\.scss}line{font-family:\0000343}}
.menu-internal li { display: inline-block; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/layout\/_footer\.scss}line{font-family:\0000345}}
.menu-internal li:after { content: "|"; margin: 0 .25em; color: #333; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/layout\/_footer\.scss}line{font-family:\0000350}}
.menu-internal li:last-child { margin: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/layout\/_footer\.scss}line{font-family:\0000352}}
.menu-internal li:last-child:after { margin: 0; content: ""; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/layout\/_footer\.scss}line{font-family:\0000359}}
.menu-social .twitter:before, .menu-social .facebook:before, .menu-social .twitch:before, .menu-social .email:before { position: relative; top: 1px; margin-right: 5px; color: #4d4d4d; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/layout\/_footer\.scss}line{font-family:\0000367}}
.menu-social li { margin-left: -1.25em; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/layout\/_footer\.scss}line{font-family:\0000386}}
.back-to-top { font-family: "LeftclickIcons"; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/layout\/_home\.scss}line{font-family:\000031}}
.post-archive-view li { margin-right: 2em; margin-bottom: 2.5em; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/layout\/_home\.scss}line{font-family:\000034}}
.post-archive-view li:last-child, .post-archive-view li:nth-child(3) { margin-right: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/layout\/_home\.scss}line{font-family:\000039}}
.post-archive-view li .post-archive-category a, .post-archive-view li .post-archive-entry-title, .post-archive-view li .read-more { color: #111111; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/layout\/_home\.scss}line{font-family:\0000312}}
.post-archive-view li img { backface-visibility: hidden; -webkit-transition: opacity 0.2s ease-in-out; transition: opacity 0.2s ease-in-out; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/layout\/_home\.scss}line{font-family:\0000317}}
.post-archive-view li:hover img { -webkit-filter: grayscale(0); opacity: 1; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/layout\/_home\.scss}line{font-family:\0000329}}
.post-archive-entry-title { display: block; font-family: "ff-dagny-web-pro", "din-condensed-web", "DIN", Helvetica, Arial, sans-serif; font-size: 1.1em; line-height: 1.2; padding-bottom: .5em; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/layout\/_home\.scss}line{font-family:\0000337}}
.post-archive-view figure { margin: 0 0 .75em 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/layout\/_home\.scss}line{font-family:\0000341}}
.post-archive-view .entry-content { font-size: 90%; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/layout\/_home\.scss}line{font-family:\0000345}}
.post-archive-thumbnail { height: 110px; overflow: hidden; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/layout\/_home\.scss}line{font-family:\0000348}}
.post-archive-thumbnail img { width: 100%; -webkit-filter: grayscale(100%); opacity: .6; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/global\/_helpers\.scss}line{font-family:\00003104}}
.read-more:after { content: "\f0da"; font-family: "LeftclickIcons"; speak: none; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; position: relative; top: 1px; padding-left: .5em; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/layout\/_hero\.scss}line{font-family:\000032}}
.hero { background: #ebebeb; position: relative; overflow: hidden; padding: 0; margin: 0; max-height: 1200px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/layout\/_hero\.scss}line{font-family:\0000311}}
.flex-viewport { -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease; }

@media screen and (max-width: 860px) { @media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/layout\/_hero\.scss}line{font-family:\0000319}}
  .flex-direction-nav .flex-prev { opacity: 1; left: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/layout\/_hero\.scss}line{font-family:\0000320}}
  .flex-direction-nav .flex-next { opacity: 1; right: 10px; } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/layout\/_hero\.scss}line{font-family:\0000323}}
.slides { width: 80%; margin: 0 auto; zoom: 1; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/layout\/_hero\.scss}line{font-family:\0000329}}
.hero-slide { margin-top: 105px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/layout\/_hero\.scss}line{font-family:\0000333}}
.hero .content-area { position: relative; top: 60px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/layout\/_hero\.scss}line{font-family:\0000338}}
.hero-image { float: left; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/layout\/_hero\.scss}line{font-family:\0000342}}
.hero-slide-content { padding: 0 1.5em; float: right; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/layout\/_hero\.scss}line{font-family:\0000347}}
.hero .entry-title, .hero .page-title { padding: 0; margin: .25em auto; font-size: 2.25em; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/layout\/_article\.scss}line{font-family:\000031}}
.entry-title, .page-title { font-size: 2.75em; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/layout\/_article\.scss}line{font-family:\000035}}
.entry-title a, .page-title a { line-height: 1; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/layout\/_article\.scss}line{font-family:\0000310}}
.single .post { padding: .25em 2em 1.5em 2em; z-index: 999; position: relative; font-size: 1.25em; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/layout\/_article\.scss}line{font-family:\0000317}}
.entry-meta { float: left; padding: .5em 1em 0 0; margin: 0; text-transform: uppercase; clear: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/layout\/_article\.scss}line{font-family:\0000323}}
.entry-meta a, .entry-meta time { display: block; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/layout\/_article\.scss}line{font-family:\0000326}}
.entry-meta a:last-child, .entry-meta time:last-child { border: 0; margin: 0; padding: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/layout\/_article\.scss}line{font-family:\0000332}}
.entry-meta time { display: block; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/global\/_helpers\.scss}line{font-family:\00003104}}
.link-to-comments:after { content: "\e000"; font-family: "LeftclickIcons"; speak: none; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; position: relative; top: 1px; padding-left: .5em; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/layout\/_article\.scss}line{font-family:\0000346}}
.link-to-comments:hover:after, .link-to-comments:focus:after { color: #111111; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/layout\/_article\.scss}line{font-family:\0000353}}
#entry-author-meta, .entry-meta { font: 400 0.7em "ff-dagny-web-pro", "din-condensed-web", "DIN", Helvetica, Arial, sans-serif; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/layout\/_article\.scss}line{font-family:\0000357}}
#entry-author-meta { margin: 0 0 2em 0; padding: 2em 0 2em 1.25em; border: solid 1px #dedede; border-left: 0; border-right: 0; color: #666666; font-size: .9em; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/layout\/_article\.scss}line{font-family:\0000371}}
.entry-author-meta-info { width: 65%; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/layout\/_article\.scss}line{font-family:\0000375}}
.entry-author-meta-links { float: right; width: 30%; line-height: 1.5; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/layout\/_article\.scss}line{font-family:\0000379}}
.entry-author-meta-links a { color: #666666; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/layout\/_article\.scss}line{font-family:\0000381}}
.entry-author-meta-links a:before { padding-right: 4px; color: #dedede; position: relative; top: 2px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/layout\/_article\.scss}line{font-family:\0000387}}
.entry-author-meta-links a:hover { color: #bf33fb; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/layout\/_article\.scss}line{font-family:\0000389}}
.entry-author-meta-links a:hover:before { color: #bf33fb; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/layout\/_article\.scss}line{font-family:\0000398}}
.author-avatar { float: left; width: 50px; height: 50px; border-radius: 50px; margin: 0  1.15em .5em .25em; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/layout\/_article\.scss}line{font-family:\00003107}}
.entry-title a, .page-title a { color: #111111; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/global\/_helpers\.scss}line{font-family:\0000312}}
.entry-title a:hover, .page-title a:hover, .entry-title a:focus, .page-title a:focus { color: #bf33fb; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/layout\/_article\.scss}line{font-family:\00003115}}
.post .alignleft { margin: 1em 1em .5em 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/layout\/_article\.scss}line{font-family:\00003119}}
.post .alignright { margin: 1em 0 .5em 1em; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/layout\/_article\.scss}line{font-family:\00003124}}
.post .alignleft + p, .post .alignright + p { margin-top: 1em; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/layout\/_article\.scss}line{font-family:\00003128}}
.caption-text { font-family: "ff-dagny-web-pro", "din-condensed-web", "DIN", Helvetica, Arial, sans-serif; font-size: 0.7em; text-align: center; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/layout\/_article\.scss}line{font-family:\00003135}}
.post-tags { padding: .5em 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/layout\/_article\.scss}line{font-family:\00003139}}
.post-tags a { padding: 3px 7px; color: #fff; background: #b3b3b3; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/global\/_helpers\.scss}line{font-family:\0000312}}
.post-tags a:hover, .post-tags a:focus { background: #bf33fb; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/layout\/_article_post-navigation\.scss}line{font-family:\000032}}
#post-navigation { display: block; min-height: 2em; padding: 0; margin-bottom: 3.5em; line-height: 1.2; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/layout\/_article_post-navigation\.scss}line{font-family:\000038}}
#post-navigation span { text-transform: uppercase; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/layout\/_article_post-navigation\.scss}line{font-family:\0000315}}
.nav-previous a, .nav-next a { display: block; position: relative; overflow: hidden; padding: 0 1.5em; font-weight: 700; color: #111111; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/layout\/_article_post-navigation\.scss}line{font-family:\0000322}}
.nav-previous a:before, .nav-previous a:after, .nav-next a:before, .nav-next a:after { font-size: 2em; color: #ebebeb; position: absolute; bottom: -6px; right: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/global\/_helpers\.scss}line{font-family:\0000312}}
.nav-previous a:before:hover, .nav-previous a:before:focus, .nav-previous a:after:hover, .nav-previous a:after:focus, .nav-next a:before:hover, .nav-next a:before:focus, .nav-next a:after:hover, .nav-next a:after:focus { color: #bf33fb; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/global\/_helpers\.scss}line{font-family:\0000312}}
.nav-previous a:hover, .nav-previous a:focus, .nav-next a:hover, .nav-next a:focus { color: #bf33fb; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/layout\/_article_post-navigation\.scss}line{font-family:\0000337}}
.nav-previous { float: left; width: 45.75%; margin-left: 1.5em; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/layout\/_article_post-navigation\.scss}line{font-family:\0000341}}
.nav-previous a { left: -1.5em; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/global\/_helpers\.scss}line{font-family:\00003104}}
.nav-previous a:before { content: "\f0d9"; font-family: "LeftclickIcons"; speak: none; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; left: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/layout\/_article_post-navigation\.scss}line{font-family:\0000349}}
.nav-next { float: right; text-align: right; width: 45.75%; margin-right: 2.45em; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/layout\/_article_post-navigation\.scss}line{font-family:\0000354}}
.nav-next a { right: -1.5em; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/global\/_helpers\.scss}line{font-family:\00003104}}
.nav-next a:after { content: "\f0da"; font-family: "LeftclickIcons"; speak: none; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; right: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/layout\/_article_comments\.scss}line{font-family:\000032}}
.comments-section { padding: 2em 0; background: #eee; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/global\/_helpers\.scss}line{font-family:\00003104}}
.comments-title:before { content: "\e000"; font-family: "LeftclickIcons"; speak: none; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; position: relative; top: 1px; padding-left: .5em; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/layout\/_article_comments\.scss}line{font-family:\0000319}}
.comment-body { padding: 1em 1em 1em 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/layout\/_article_comments\.scss}line{font-family:\0000328}}
#comments .children .comment-body { margin-left: 2em; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/layout\/_article_comments\.scss}line{font-family:\0000332}}
#comments .children .depth-3 .comment-body { margin-left: 4em; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/layout\/_article_comments\.scss}line{font-family:\0000336}}
.comment-avatar { display: inline-block; margin-right: 1.125em; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/layout\/_article_comments\.scss}line{font-family:\0000339}}
.comment-avatar img { position: relative; vertical-align: middle; border-radius: 50px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/layout\/_article_comments\.scss}line{font-family:\0000346}}
.comment-metadata { display: inline-block; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/layout\/_article_comments\.scss}line{font-family:\0000351}}
.comment-author, .comment-timestamp { display: inline-block; margin-right: 1em; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/layout\/_article_comments\.scss}line{font-family:\0000356}}
.comment-author { font-weight: 700; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/layout\/_article_comments\.scss}line{font-family:\0000361}}
.comment-timestamp, .comment-reply a { position: relative; top: -3px; font-size: 0.7em; color: #666666; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/global\/_helpers\.scss}line{font-family:\0000312}}
.comment-timestamp:hover, .comment-timestamp:focus, .comment-reply a:hover, .comment-reply a:focus { color: #111111; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/layout\/_article_comments\.scss}line{font-family:\0000371}}
.comment-content { margin-left: 3em; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/layout\/_article_comments-form\.scss}line{font-family:\000031}}
.comment-respond { padding: 1em 0 2em 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/layout\/_article_comments-form\.scss}line{font-family:\000035}}
.comment-notes { padding-bottom: 1em; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/layout\/_article_comments-form\.scss}line{font-family:\000039}}
.form-field-note { font-weight: 400; color: #8c8c8c; text-transform: none; font-size: .9em; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/layout\/_article_comments-form\.scss}line{font-family:\0000314}}
.form-field-note:before { content: "("; margin-left: 2px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/layout\/_article_comments-form\.scss}line{font-family:\0000318}}
.form-field-note:after { content: ")"; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/layout\/_article_comments-form\.scss}line{font-family:\0000324}}
.comment-form-fields, .comment-form-comment { float: left; margin-right: 1em; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/layout\/_article_comments-form\.scss}line{font-family:\0000329}}
.comment-form-body-submit { float: right; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/layout\/_article_comments-form\.scss}line{font-family:\0000336}}
.comment-form .comment-form-author, .comment-form .comment-form-email, .comment-form .comment-form-url, .comment-form .comment-form-comment { width: 480px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/layout\/_article_comments-form\.scss}line{font-family:\0000343}}
.comment-form input[type="text"], .comment-form input[type="email"], .comment-form input[type="url"], .comment-form textarea { width: 90%; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/layout\/_article_comments-form\.scss}line{font-family:\0000347}}
.comment-form textarea { height: 158px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/layout\/_article_comments-form\.scss}line{font-family:\0000352}}
.comments-section form { font-size: .9em; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/layout\/_article_comments-form\.scss}line{font-family:\0000354}}
.comments-section form button, .comments-section form input[type="submit"] { font-size: 1.1em; margin-top: .75em; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/layout\/_article_related-posts\.scss}line{font-family:\000032}}
.recent-posts-title, .comments-title { display: block; text-align: center; font-size: 1.35em; padding-bottom: 1em; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/layout\/_article_related-posts\.scss}line{font-family:\000039}}
.recent-posts { width: 100%; margin: 2em auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/layout\/_article_related-posts\.scss}line{font-family:\0000314}}
.related-posts li { width: 237px; margin-right: .8em; border-right: solid 1px #dedede; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/layout\/_article_related-posts\.scss}line{font-family:\0000318}}
.related-posts li a { display: block; padding: .5em 1em; margin-right: 1.1em; line-height: 1.1; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/layout\/_article_related-posts\.scss}line{font-family:\0000324}}
.related-posts li:last-child { margin-right: 0; border: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/layout\/_article_related-posts\.scss}line{font-family:\0000328}}
.related-posts li span { display: inline-block; color: #666666; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/layout\/_article_related-posts\.scss}line{font-family:\0000332}}
.related-posts li img { -webkit-filter: grayscale(100%); opacity: .6; -webkit-backface-visibility: hidden; -webkit-transition: opacity 0.2s ease-in-out; transition: opacity 0.2s ease-in-out; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/layout\/_article_related-posts\.scss}line{font-family:\0000338}}
.related-posts li a:hover { border-color: #b8b8b8; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/layout\/_article_related-posts\.scss}line{font-family:\0000340}}
.related-posts li a:hover span { color: #111111; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/layout\/_article_related-posts\.scss}line{font-family:\0000343}}
.related-posts li a:hover img { opacity: 1; -webkit-filter: grayscale(0); }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/layout\/_article_related-posts\.scss}line{font-family:\0000350}}
.related-post-category, .post-archive-category, .read-more { height: .8em; margin-bottom: .8em; overflow: hidden; font-size: 0.7em; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/layout\/_article_related-posts\.scss}line{font-family:\0000358}}
.related-post-thumbnail img { width: 187px; height: 93px; margin-bottom: 1em; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/layout\/_article_related-posts\.scss}line{font-family:\0000364}}
.recent-post-title { font-family: "ff-dagny-web-pro", "din-condensed-web", "DIN", Helvetica, Arial, sans-serif; font-size: .9em; padding-bottom: .5em; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/leftclickit\/wp-content\/themes\/wraeclast\/css\/layout\/_page\.scss}line{font-family:\000031}}
.page-title { padding-bottom: 10px; margin-bottom: 30px; border-bottom: solid 1px #f6e2fe; }
