// by codrops :)
.st-accordion{
    width:100%;
    min-width:270px;
    margin: 35px auto 0 auto;
}

.st-accordion ul li{
	margin: .25em 0;
	border-bottom: solid 1px $color-tertiary-light;
    overflow: hidden;
    &:last-child {
    	border: 0;
    }
}

.st-accordion ul li > a{
    display: block;
	height: 50px;
    font-weight: $bold;
//	@include transition($property: color);
	@include icon('after', true, 'caret-down') {
		color: $color-primary;
		position: relative;
		top: 2px;
		left: 8px;
	}
}

.st-accordion ul li.st-open > a{
    color: $color-link-secondary;
	@include icon('after', true, 'caret-up') {
		position: relative;
		color: $color-primary;
		top: 2px;
		left: 8px;
	}
}
.st-content{
    padding: 5px 0px 30px 0px;
}

@media screen and (max-width: 320px){
	.st-accordion ul li > a{
		font-size: 36px;
	}
}