.site-navigation-menu {
	position: relative;
	z-index: 1001;
}

.site-navigation-menu li {
	float: left;
	padding: 0;
	margin: 0;
	a {
		position: relative;
		color: lighten($color-tertiary, 35%);
		@extend %font-stack-heading;
		line-height: 1.35;
		text-shadow: 0 1px 0 #000;
		&:before {
			position: absolute;
			top: 0;
			left: 0;
			overflow: hidden;
			max-width: 0;
			color: #fff;
			content: attr(data-hover);
			@include transition($property: max-width, $duration: 0.275s);
		}
		&:hover:before,
		&:focus:before {
			max-width: 100%;
		}
	}
	&:after {
		content: "|";
		margin: 0 .45em;
		color: darken($color-tertiary, 10%);
	}
}

	.site-navigation-menu li:last-child:after,
	.site-navigation-menu .sub-menu li:after {
		content: "";
		margin: 0;
	}

	.site-navigation-menu .sub-menu {
		display: none;
		position: absolute; 
		top: 100%;
		padding: 0;
		box-shadow: 1px 1px 6px rgba(0,0,0,.1);
	}

	.site-navigation-menu li:hover > .sub-menu {
		display: block;
	}

	.site-navigation-menu .sub-menu li {
		float: none; 
		line-height: .8;
		background: #fff;
		text-align: left;
		border-left: solid 4px $color-tertiary-light;
		a {
			display: block;
			padding: .55em .75em;
			@include font-stack-primary($size: .75em);
			text-transform: none;
			text-shadow: none;
			color: $color-text;
			border-bottom: solid 1px lighten($color-tertiary-light, 5%);
			&:before {
				content: "";
			}
		}
		&:last-child a {
			border-bottom: 0;
		}
		@include hover {
			border-color: $color-primary;
			a {
				color: $color-primary;
			}
		}
	}

.twitter { 
        @include icon('before', true, 'twitter') 
}
.facebook {
        @include icon('before', true, 'facebook')
}
.youtube {
        @include icon('before', true, 'youtube')
}
.twitch {
        @include icon('before', true, 'twitch')
}
.plus {
        @include icon('before', true, 'plus')
}
.email {
        @include icon('before', true, 'email')
}