
//http://tympanus.net/codrops/2013/06/26/expanding-search-bar-deconstructed/
$size-search-icon: 35px;

.sb-search {
	float: right;
	position: relative;
	width: 0%;
	min-width: $size-search-icon;
	height: $size-search-icon;
	overflow: hidden;
	font-size: .8em;
	@include transition($property: width);
	-webkit-backface-visibility: hidden;
}

.sb-search-input {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	z-index: 10;
}

.sb-icon-search,
.sb-search-submit  {
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	width: $size-search-icon;
	height: $size-search-icon;
	padding: 0;
	margin: 0;
	line-height: $size-search-icon;
	text-align: center;
	color: #fff !important;
	cursor: pointer;
}

.sb-search-submit {
	background: #000;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
    filter: alpha(opacity=0); /* IE 5-7 */
    opacity: 0;
	color: transparent;
	border: none;
	outline: none;
	z-index: -1;
}

.sb-icon-search {
	@extend %font-stack-icon;
	font-family: $font-family-icons;
	font-size: 1.25em;
	z-index: 90;
}

.sb-icon-search:before {
	content: "\e001";
}

/* Open state */
.sb-search.sb-search-open,
.no-js .sb-search {
	width: 30%;
	.sb-search-input {
		border-left: solid 10px $color-primary !important;
		background-color: rgba(255,255,255,.1) !important;
	}
}

.sb-search.sb-search-open .sb-icon-search,
.no-js .sb-search .sb-icon-search {
	z-index: 11;
}

.sb-search.sb-search-open .sb-search-submit,
.no-js .sb-search .sb-search-submit {
	z-index: 90;
}