
/*
 * jQuery Flexslider v2.2.0
 * http://www.woothemes.com/hero/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */

/* Necessary Styles
*********************************/

.hero .slides > article {
	display: none;
	-webkit-backface-visibility: hidden;
} 

.hero .slides img {
	width: 100%;
	max-height: 300px;
	margin-bottom: 20px;
	overflow: hidden;
	display: block;
}

.flex-pauseplay span {
	text-transform: capitalize;
}

/* Clearfix for the .slides element */
.slides:after {content: "\0020"; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > article:first-child {display: block;}

/* Controls
*********************************/
/* Direction Nav */
.flex-direction-nav {
	*height: 0
}

.flex-direction-nav a {
    display: block;
    width: 40px;
    height: 40px;
    margin: -20px 0 0;
    position: absolute;
    top: 50%;
    z-index: 10;
    overflow: hidden;
    opacity: 0;
    cursor: pointer;
    color: rgba(0,0,0,0.8);
    text-shadow: 1px 1px 0 rgba(255,255,255,0.3);
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}

.flex-direction-nav .flex-prev {
	left: -50px
}

.flex-direction-nav .flex-next {
    right: -50px;
    text-align: right;
}

.hero:hover .flex-prev {
    opacity: 0.7;
    left: 10px;
}

.hero:hover .flex-next {
    opacity: 0.7;
    right: 10px;
}

.hero:hover .flex-next:hover,
.hero:hover .flex-prev:hover {
	opacity: 1
}

.flex-direction-nav .flex-disabled {
    opacity: 0!important;
    filter: alpha(opacity=0);
    cursor: default;
}

.flex-direction-nav a:before {
    display: inline-block;
    font-size: 40px;
}

.flex-direction-nav a.flex-prev {
	@include icon('before', true, 'caret-left');
}

.flex-direction-nav a.flex-next {
	@include icon('before', true, 'caret-right');
}

/* Control Nav */
.flex-control-nav {
    width: 100%;
    text-align: center;
}

.flex-control-nav li {
    margin: 6px 6px 25px 6px;
    display: inline-block;
    zoom: 1;
    *display: inline;
}

.flex-control-paging li a {
    width: 11px;
    height: 11px;
    display: block;
    background: #666;
    background: rgba(0,0,0,0.5);
    cursor: pointer;
    text-indent: -9999px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
    -o-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
}

.flex-control-paging li a:hover {
    background: #333;
    background: rgba(0,0,0,0.7);
}

.flex-control-paging li a.flex-active {
    background: #000;
    background: rgba(0,0,0,0.9);
    cursor: default;
}
