.recent-posts-title,
.comments-title {
	display: block;
	text-align: center;
	font-size: 1.35em;
	padding-bottom: 1em;
}

.recent-posts {
	width: 100%;
	margin: 2em auto;
}

.related-posts li {
	width: 237px;
	margin-right: .8em;
	border-right: solid 1px $color-tertiary-light;
	a { 
		display: block;
		padding: .5em 1em;
		margin-right: 1.1em;
		line-height: 1.1;
	}
	&:last-child {
		margin-right: 0;
		border: 0;
	}
	span {
		display: inline-block;
		color: $color-tertiary;
	}
	img {
		-webkit-filter: grayscale(100%);
		opacity: .6;
		-webkit-backface-visibility: hidden;
		@include transition($property: opacity, $duration: .2s);
	}
	a:hover {
		border-color: darken($color-tertiary-light, 15%);
		span { 
			color: $color-text;
		}
		img {
			opacity: 1;
			-webkit-filter: grayscale(0);
		}
	}
}

	.related-post-category {
		height: .8em;
		margin-bottom: .8em;
		overflow: hidden;
		@extend %font-stack-heading;
		font-size: $font-size-small;
	}

	.related-post-thumbnail img {
		width: 187px;
		height: 93px;
		margin-bottom: 1em;
	}

	.recent-post-title {
		font-family: $font-family-heading;
		font-size: .9em;
		padding-bottom: .5em;
	}
