.entry-title {
	font-size: 2.75em;
}

.entry-title a {
	line-height: 1;
}


.single .post {
	padding: .25em 2em 1.5em 2em;
	z-index: 999;
	position: relative;
	font-size: 1.25em;
}

	.entry-meta {
		float: left;
		padding: .5em 1em 0 0;
		margin: 0;
		text-transform: uppercase;
		clear: left;
		a, time {
			display: block;
			@extend %border-bottom;
			&:last-child {
				border: 0;
				margin: 0;
				padding: 0;
			}
		}
		time {
			display: block;
		}
	}

		.link-to-comments {
			@include icon('after', true, 'comment') {
//				font-size: 1.25em;
//				color: $color-tertiary-light;
				position: relative;
				top: 1px;
				padding-left: .5em;
			}
			@include hover {
				&:after {
					color: $color-link-secondary;
				}
			}
		}

	#entry-author-meta,
	.entry-meta {
		@include font-stack-secondary($weight: $normal, $size: $font-size-small);
	}
	 
		#entry-author-meta {
			margin: 0 0 2em 0;
			padding: 2em 0 2em 1.25em;
			border: solid 1px $color-tertiary-light;
			border-left: 0;
			border-right: 0;
			color: $color-tertiary;
			font-size: .9em;
		}

			.entry-author-meta-info,
			.entry-author-meta-links {
			}

				.entry-author-meta-info {
					width: 65%;
				}

				.entry-author-meta-links {
					float: right;
					width: 30%;
					line-height: 1.5;
					a {
						color: $color-tertiary;
						&:before {
							padding-right: 4px;
							color: $color-tertiary-light;
							position: relative;
							top: 2px;
						}
						&:hover {
							color: $color-primary;
							&:before {
								color: $color-primary;
							}
						}
					}
				}

			$avatar-size: 50px;

			.author-avatar {
				float: left;
				width: $avatar-size;
				height: $avatar-size;
				border-radius: $avatar-size;
				margin: 0  1.15em .5em .25em;
			}


	.entry-title a {
		color: $color-text;
		@include hover {
			color: $color-primary;
		}
	}
	
	//images
	.post .alignleft {
		margin: 1em 1em .5em 0;
	}

	.post .alignright {
		margin: 1em 0 .5em 1em;
	}

	.post .alignleft + p,
	.post .alignright + p {
		margin-top: 1em;
	}

	.caption-text {
		font-family: $font-family-heading;
		font-size: $font-size-small;
		text-align: center;
	}

	//tags 
	.post-tags {
		padding: .5em 0;
	}

	.post-tags a {
		padding: 3px 7px;
		color: #fff;
		@extend %font-stack-heading-small;
		background: lighten($color-tertiary, 30%);
		@include hover {
			background: $color-primary;
		}
	}