// post navigation
#post-navigation {
	display: block;
	min-height: 2em;
	padding: 0;
	margin-bottom: 3.5em;
	line-height: 1.2;
	span {
		@extend %font-stack-heading-small;
		text-transform: uppercase;
	}
}


.nav-previous a, .nav-next a {
	display: block;
	position: relative;
	overflow: hidden;
	padding: 0 1.5em;
	font-weight: $bold;
	color: $color-text;
	&:before, &:after {
		font-size: 2em;
		color: lighten($color-tertiary-light, 5%);
		position: absolute;
		bottom: -6px;
		right: 0;
		@include hover {
			color: $color-primary;
		}
	}
	@include hover {
		color: $color-primary;
	}
}

.nav-previous {
	float: left;
	width: 45.75%;
	margin-left: 1.5em;
	a {
		@include icon('before', true, 'caret-left') {
			left: 0;
		}
		left: -1.5em;
	}
}

.nav-next {
	float: right;
	text-align: right;
	width: 45.75%;
	margin-right: 2.45em;
	a {
		@include icon('after', true, 'caret-right') {
			right: 0;
		}
		right: -1.5em;
	}
}