//commments 
.comments-section {
	padding: 2em 0;
	background: #eee;
}

.comments-title {
	@include icon('before', true, 'comment') {
		position: relative;
		top: 1px;
		padding-left: .5em;
	}
}

.comment-list {
	@extend %no-list;
}

.comment-body {
	padding: 1em 1em 1em 0;
	@extend %border-bottom;
}

	#comments .children {
		@extend %no-list;
	}

	#comments .children .comment-body {
		margin-left: 2em;
	}

	#comments .children .depth-3 .comment-body {
			margin-left: 4em;
	}

	.comment-avatar {
		display: inline-block;
		margin-right: 1.125em;
		img {
			position: relative;
			vertical-align: middle;
			border-radius: 50px;
		}
	}

	.comment-metadata {
		display: inline-block;
	}

		.comment-author,
		.comment-timestamp {
			display: inline-block;
			margin-right: 1em;
		}

		.comment-author {
			font-weight: $bold;
		}

		.comment-timestamp,
		.comment-reply a {
			position: relative;
			top: -3px;
			font-size: $font-size-small;
			color: $color-tertiary;
			@include hover {
				color: $color-text;
			}
		}

	.comment-content {
		margin-left: 3em;
	}
