.comment-respond {
	padding: 1em 0 2em 0;
}

.comment-notes {
	padding-bottom: 1em;
}

.form-field-note {
	font-weight: $normal;
	color: lighten($color-tertiary, 15%);
	text-transform: none;
	font-size: .9em;
	&:before {
		content: "(";
		margin-left: 2px;
	}
	&:after {
		content: ")";
	}
}

.comment-form-fields,
.comment-form-comment {
	float: left;
	margin-right: 1em;
}

.comment-form-body-submit {
	float: right;
}

.comment-form .comment-form-author,
.comment-form .comment-form-email,
.comment-form .comment-form-url,
.comment-form .comment-form-comment {
	width: 480px;
}

.comment-form input[type="text"],
.comment-form input[type="email"],
.comment-form input[type="url"],
.comment-form textarea {
	width: 90%;
}

.comment-form textarea {
//	height: 115px;
	height: 158px;
}

.comments-section form {
	font-size: .9em;
	button, input[type="submit"] {
		font-size: 1.1em;
		margin-top: .75em;
	}
}

.comment-form label {
	@extend %font-stack-heading;
}