.site-footer {
	margin-top: 2em;
	padding: 2em;
	height: 180px;
	color: $color-tertiary;
	background: $color-text url('http://leftclick.it/wp-content/themes/sanctuary/images/de_dust_reversed.jpg') center center;
	a {
		color: lighten($color-tertiary, 25%);
		@include hover {
			color: #fff;
			&:before {
				color: #fff;
			}
		}
	}
}

.site-footer aside {
}

.site-footer .widget {
	font-family: $font-family-secondary;
	h3 {
		margin-top: 0;
	}
	&:last-child {
		width: 50%;
		float: right;
	}
}

	.widget-internal input[type="search"] {
			width: 90%;
			margin-bottom: 2em;
			background: rgba(255,255,255,.1);
			color: rgb(200,200,200);
	}

	.widget-internal p {
		font-size: .85em;
	}

	.menu-internal li {
		display: inline-block;
		&:after {
			content: "|";
			margin: 0 .25em;
			color: #333;
		}
		&:last-child {
			margin: 0;
			&:after {
				margin: 0;
				content: "";
			}
		}
	}

	%icon-footer-style {
		position: relative;
		top: 1px;
		margin-right: 5px;
		color: darken($color-tertiary, 10%);
	}

	.menu-social {
		li { margin-left: -1.25em; }

		.twitter:before {
			@extend %icon-footer-style;
		}
		
		.facebook:before {
			@extend %icon-footer-style;
		}

		.twitch:before {
			@extend %icon-footer-style;
		}

		.email:before {
			@extend %icon-footer-style;
		}
	}

.back-to-top {
	font-family: $font-family-icons;
}