#leftclickit {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.site-header {
	background: $color-text url('http://leftclick.it/wp-content/themes/sanctuary/images/de_dust_reversed.jpg') center center;
	display: block;
	position: fixed;
	top: 0;
	width: 100%;
	padding: .45em 2em;
	margin: 0 auto;
	font-size: 1.25em;
	text-align: center;
	color: white;
	z-index: 1900;
	border-bottom: solid 6px $color-primary;
	box-shadow: 0 1px 6px rgba(0,0,0,.2);
	a {
		color: white;
	}
}

.site-title,
.main-navigation,
.menu-main-menu-container,
.site-navigation-menu {
	display: inline-block;
	vertical-align: middle;
}

.site-title {
	float: left;
	height: 40px;
	width: 126px;
	margin: 0;
	line-height: 1;
	a {
		display: block;
		width: 100%;
		height: 100%;
		text-indent: -9999px;
		background: url('#{$theme-path}/images/leftclickit-logo.png');
	}
}

.site-header nav,
.site-header div form {
	padding-top: 4px;
}