
.hero {
    background: lighten($color-tertiary-light, 5%);
    position: relative;
    overflow: hidden;
    padding: 0;
    margin: 0;
    max-height: 1200px;
}

.flex-viewport {
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev { opacity: 1; left: 10px;}
  .flex-direction-nav .flex-next { opacity: 1; right: 10px;}
}

	.slides {
		width: 80%;
		margin: 0 auto;
		zoom: 1;
	}

	.hero-slide {
		margin-top: 105px;
	}

	.hero .content-area {
		position: relative;
		top: 60px;
	}

    .hero-image {
    	float: left;
    }
        
   .hero-slide-content {
        padding: 0 1.5em;
        float: right;
    }

	.hero .entry-title {
		padding: 0;
		margin: .25em auto;
		font-size: 2.25em;
	}
