.post-archive-view li {
	margin-right: 2em;
	margin-bottom: 2.5em;
	&:last-child, &:nth-child(3) {
		margin-right: 0;
	}
	.post-archive-category a,
	.post-archive-entry-title,
	.read-more {
		color: $color-text;
	}
	img {
		backface-visibility: hidden;
		@include transition($property: opacity, $duration: .2s);
	}
	&:hover {
		img {
			-webkit-filter: grayscale(0);
			opacity: 1;
		}
	}
}

.post-archive-category,
.read-more {
	@extend .related-post-category;
}

.post-archive-entry-title {
	display: block;
	font-family: $font-family-heading;
	font-size: 1.1em;
	line-height: 1.2;
	padding-bottom: .5em;
}

.post-archive-view figure {
	margin: 0 0 .75em 0;
}

.post-archive-view .entry-content {
	font-size: 90%;
}

.post-archive-thumbnail {
	height: 110px;
	overflow: hidden;
	img {
		width: 100%;
		-webkit-filter: grayscale(100%);
		opacity: .6;

	}
}

.read-more {
	@include icon('after', true, 'caret-right') {
		position: relative;
		top: 1px;
		padding-left: .5em;
	}
}