/*
    GRID
    ------------------------------------------------------------------------ //
    Until something better comes along.
    ------------------------------------------------------------------------ */

// Box sizing
// ------------------------------------------------------------------------- //
header,
footer,
article,
aside,
section,
ul,
li,
span,
a,
div {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

// Media queries: defaults to a mobile scenario
// ------------------------------------------------------------------------- //
@mixin media-query($argument: max-width, $screen-size: 480px) {
    @media only screen and (#{$argument}: #{$screen-size}) {
        @content;
    }
}

/*
    Grid definitions and functions
    ------------------------------------------------------------------------ //
    Based off Skeleton-SASS V1.0 | Copyright 2012 by Michael Lazer-Walker
    https://github.com/lazerwalker/Skeleton-Sass

    Based off of Skeleton v1.1: https://github.com/dhgamache/Skeleton
    Free to use under the MIT license. | http://www.opensource.org/licenses/mit-license.php
    ------------------------------------------------------------------------ */


// Grid variables
// ------------------------------------------------------------------------- //

$number-of-columns: 16;
$base-width: 100%;
$margin: 0;


// Column definitions
// ------------------------------------------------------------------------- //

@mixin column {
    display: inline-block;
    vertical-align: top;
}

%column {
    @include column;
}


// Grid math
// ------------------------------------------------------------------------- //

@function skeleton-half-width($num: 1, $width: $base-width) {
    @return $num * ($width / 2) - ($margin);
}

@function skeleton-column-width($num: 1, $width: $base-width) {
    @return ($num * ($width / $number-of-columns)) - ($margin);
}

@mixin columns($num: 1) {
    @include column;
    width: skeleton-column-width($num, $base-width);

    @include media-query {
        width: 100%; }
}


// Clearfix
// ------------------------------------------------------------------------- //

@mixin clearfix {
    *zoom: 1;
    &:before, &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

%clear {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
}

// Grid container
// ------------------------------------------------------------------------- //

@mixin container {
    margin: 0 auto;
    max-width: $base-width;
    @include media-query {
        padding: 1em;
    }
}

.container, %container {
    @include container;
    @include clearfix;
}


// Grid classes
// ------------------------------------------------------------------------- //

%alpha {
    margin-left: 0; }

%omega {
    margin-right: 0; }

@mixin pull($num: 1) {
    margin-left: skeleton-column-width($num, $base-width); }

@mixin push($num: 1) {
    margin-righ: skeleton-column-width($num, $base-width);
}

%column-half {
    @include column;
    width: 49.85%;
    @include media-query {
        width: 49%; }
}
