/*
	HELPERS
	------------------------------------------------------------------------ //
	Sass mixins and silent classes to aid in presentation and accessibility.
	------------------------------------------------------------------------ */

// Presentational mixins and (silent) classes
// ------------------------------------------------------------------------- //

// Never forget :focus again!
@mixin hover {
	&:hover, &:focus {
		@content;
	}
}

// Borders
@mixin border-bottom($padding-vertical-border: .5em, $color-border: $color-text-light) {
	padding-bottom: $padding-vertical-border;
	margin-bottom: $padding-vertical-border;
	border-bottom: solid 1px $color-border;
}

%border-bottom {
	@include border-bottom;
}

// Transitions
@mixin transition($property: all, $duration: .35s, $function: ease-in-out) {
    -webkit-transition: $property $duration $function;
            transition: $property $duration $function;
}

%transition {
	@include transition;
}

// Un-style a list (no bullets or spacing, good start for navigation)
%no-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

// Hyphenation support
%hyphenation {
	-ms-word-break: hyphenate;
	word-break: hyphenate;
	word-break: hyphenate;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
}


// Alignment classes, Wordpress default class names
// ------------------------------------------------------------------------- //
// Floats
.align-left, .alignleft { float: left; }
.align-right, .alignright { float: right; }

// Images
img.align-left, img.alignleft { margin: 0 2em 0 0; }
img.align-right, img.alignright { margin: 0 0 0 2em; }


// Responsive video | http://css-tricks.com/rundown-of-handling-flexible-media
// ------------------------------------------------------------------------- //

.video-wrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}

.video-wrapper object,
.video-wrapper embed,  {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

// Icons
// ------------------------------------------------------------------------- //

@function match($haystack, $needle) {
    @each $item in $haystack {
        $index: index($item, $needle);
        @if $index { 
            $return: if($index == 1, 2, $index);
            @return nth($item, $return); 
        }
    }
    @return false;
}

// For adding icons to elements using CSS pseudo-elements
// Source: http://jaydenseric.dev/blog/fun-with-sass-and-font-icons
@mixin icon($position: 'before', $styles: true, $icon: false) {
    // Either a :before or :after pseudo-element, defaulting to :before
    &:#{$position} {
        @if $icon {
            // Icon has been specified
            content: match($icons, $icon);
        }
        @if $styles {
            // Suportive icon styles have been specified
			font-family: $font-family-icons;
			speak: none;
			font-weight: normal;
			font-variant: normal;
			text-transform: none;
			line-height: 1;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
        }
        // Include any extra rules supplied for the pseudo-element
        @content;
    }
}

[data-icon]:before {
	@extend %font-stack-icon;
	content: attr(data-icon);
}

// Hide content and text
// ------------------------------------------------------------------------- //

// Hide content from browsers and screen-readers
%hidden { 
	display: none !important;
	visibility: hidden;
}

// Hide content from browsers; show for screen-readers
%screen-reader-text,
.screen-reader-text {
	display: none;
}

// Hide text only, accessibly and efficiently
%hide-text  {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

// Typekit html classes, hide FOUT
.wf-loading p, 
.wf-loading span, 
.wf-loading em, 
.wf-loading strong,
.wf-loading li,
.wf-loading h1 {
	visibility: hidden;
}

.wf-active {
	visibility: visible;
}
