/*
	RESET
	------------------------------------------------------------------------ //
	Lifted and edited from Tim Murtagh's HTML5 Reset
	https://github.com/murtaugh/HTML5-Reset/blob/master/_/css/reset.css
    ------------------------------------------------------------------------ */

html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}									

article, aside, figure, footer, header, nav, section, details, summary {display: block;}

// Responsive images and other embedded objects
img, object, embed {max-width: 100%;}

// Force a vertical scrollbar to prevent a jumpy page
html {overflow-y: scroll;}

del {text-decoration: line-through;}

abbr[title], dfn[title] {border-bottom: 1px dotted #000; cursor: help;}

nav ul {
	@extend %no-list;
}

p {
  margin: 0;
  padding: 0;
}

p + p {
  margin-top: 1em;
}

// Tables still need cellspacing="0" in the markup
table {border-collapse: collapse; border-spacing: 0;}
th {font-weight: bold; vertical-align: bottom;}
td {font-weight: normal; vertical-align: top;}

hr {display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0;}

input, select {vertical-align: middle;}

pre {
    white-space: pre; 
    white-space: pre-wrap; 
    white-space: pre-line; 
    word-wrap: break-word;
}

input[type="radio"] {vertical-align: text-bottom;}
input[type="checkbox"] {vertical-align: bottom;}
.ie7 input[type="checkbox"] {vertical-align: baseline;}
.ie6 input {vertical-align: text-bottom;}

select, input, textarea {font: 99% sans-serif;}

table {font-size: inherit; font: 100%;}

small {font-size: 85%;}

strong {font-weight: bold;}

td, td img {vertical-align: top;} 

sub, sup {font-size: 75%; line-height: 0; position: relative;}
sup {top: -0.5em;}
sub {bottom: -0.25em;}

// Standardize any monospaced elements
pre, code, kbd, samp {font-family: monospace, sans-serif;}

// Hand cursor on clickable elements
label, 
input[type=button], 
input[type=submit], 
input[type=file], 
button {cursor: pointer;}

// Webkit browsers add a 2px margin outside the chrome of form elements
button, input, select, textarea {margin: 0;}

// Make buttons play nice in IE
button {width: auto; overflow: visible;}
 
// Scale images in IE7 more attractively
.ie7 img {-ms-interpolation-mode: bicubic;}

// Prevent BG image flicker upon hover
.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}