/*
	TYPOGRAPHY
	------------------------------------------------------------------------ //
	Starting point for all the type basics. These shouldn't change.
	------------------------------------------------------------------------ */

// Font stacks
// ------------------------------------------------------------------------- //

@mixin font-stack-primary($weight: $normal, $size: $font-size-base) {
	font: $weight $size $font-family-primary;
}

@mixin font-stack-secondary($weight: $light, $size: $font-size-base) {
	font: $weight $size $font-family-secondary;
}

%font-stack-icon {
	font-family: '$font-family-icons';
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

// Global styles
// ------------------------------------------------------------------------- //

::selection {
	background: $color-primary;
	color: #fff;
}

body {
	@include font-stack-primary;
	line-height: $leading;
	color: $color-text;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
}

a {
	color: $color-link;
	text-decoration: none;
	padding-bottom: 1px;
	@include hover {
		color: $color-link-secondary;
	}
}

code {
	background: $color-text-light;
	padding: .3em .5em;
	margin: 0 .25em;
	overflow: auto;
}

// Headings
h1 {
	margin: 0 0 .25em 0;
	@extend %font-stack-heading;
}

h2,
h3,
h4,
h5,
h6 {
	margin: 1.25em 0 .25em 0;
	@extend %font-stack-heading;
}