input[type="submit"],
button,
%button {
	padding: 4px 10px;
	background: $color-primary;
	border: $color-secondary-dark;
	border-radius: .3em;
	@include font-stack-primary($weight: $bold, $size: .944444em);
	color: #fff;
	box-shadow: inset 0 1px 0 rgba(255,255,255,.1),
		        0 2px 1px 0 rgba(0,0,0,.2);
	@include hover {
		background-color: darken($color-primary, 5%);
		box-shadow: inset 0 1px 0 rgba(0,0,0,.12),
			        0 2px 2px 0 rgba(0,0,0,.2);
	}
	&:active {
		background-color: darken($color-primary, 8%);
		box-shadow: inset 0 2px 6px rgba(0,0,0,.3),
					0 1px 0 0 rgba(0,0,0,.2);
	}
}
