input[type="text"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="submit"],
textarea,
select {
	margin-bottom: .5em;
	padding: .5em .85em;
	border: 0;
	outline: none;
	@include font-stack-primary($size: 1em);
	line-height: $leading;
}

label + input[type="text"],
label + input[type="email"],
label + input[type="url"],
label + textarea,{
	display: block;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="search"],
textarea,
select {
	width: 80%;
	color: $color-text;
	border-left: solid 10px rgba(0,0,0,.15);
	background-color: rgba(0,0,0,.05);
}

	input:hover, 
	textarea:hover, 
	select:hover, 
	button:hover  {
		@extend %transition;
		border-color: $color-primary !important;
	}
	input:focus,
	textarea:focus,
	select:focus,
	button:focus {
		outline: none;
		box-shadow: inset 0 1px 6px rgba(0,0,0,.05);
	}

select {
	border-color: rgba(0,0,0,.5);
}

input[type="radio"],
input[type="checkbox"] {
	margin: 0 .5em 0 1em;
}

form li {
	margin-bottom: 1em;
}