/*
	SETTINGS
	------------------------------------------------------------------------ //
	Global variables to set the base styles.
	------------------------------------------------------------------------ //
	
	I.	Theme directories

	II.	Typography
				A. @font-face declarations
				B. Base definitions
						1. Weights
						2. Sizes
						3. Stacks
				C. Generic styles

   III. Colors
				A. Descriptive variables
				B. Functional variables
				C. Layout colors

	IV.	Icons

	------------------------------------------------------------------------ */


// I. Theme directories
// ------------------------------------------------------------------------- //

$theme-path: "http://localhost/leftclickit/wp-content/themes/wraeclast";
$image-path: "#{$theme-path}/images";


// ========================================================================= //
// II. Typography
// ========================================================================= //


// A. @font-face declarations
// ------------------------------------------------------------------------- //

@font-face {
	font-family: 'LeftclickIcons';
	src:url('#{$theme-path}/css/base/fonts/LeftclickIcons.eot');
	src:url('#{$theme-path}/css/base/fonts/LeftclickIcons.eot?#iefix') format('embedded-opentype'),
		url('#{$theme-path}/css/base/fonts/LeftclickIcons.woff') format('woff'),
		url('#{$theme-path}/css/base/fonts/LeftclickIcons.ttf') format('truetype'),
		url('#{$theme-path}/css/base/fonts/LeftclickIcons.svg#LeftclickIcons') format('svg');
	font-weight: normal;
	font-style: normal;
}

// B. Base definitions
// ------------------------------------------------------------------------- //

// 1.	Weights
$light:						300;
$medium: 					400;
$normal:					400;
$bold:						700;
$black:						900;

$font-weight-base:			$normal;
$font-weight-heading:		$black;

// 2.	Sizes
$font-size-base:			1em; //16px
$font-size-large:			1.66667em; //30px
$font-size-small:			.7em; //14px
$font-size-fixed:			90%;

$leading:					1.45;

// 3.	Family stacks
$font-family-primary:		"source-sans-pro", "Freight Sans Pro", "Open Sans", Helvetica, Arial, sans-serif;
$font-family-secondary:		"ff-dagny-web-pro", "din-condensed-web", "DIN", Helvetica, Arial, sans-serif;
$font-family-fixed:			monospace;
$font-family-icons:			"LeftclickIcons";

$font-family-heading:		$font-family-secondary;

// C. Generic styles
// ------------------------------------------------------------------------- //

// Headings
%font-stack-heading {
	font-family: $font-family-heading;
	font-weight: $font-weight-heading;
	text-transform: uppercase;
	line-height: 1;
}

	%font-stack-heading-small {
		font-size: $font-size-small;
		font-family: $font-family-heading;
	}


// ========================================================================= //
// III. Colors
// ========================================================================= //

// A.	Descriptive variables
// ------------------------------------------------------------------------- //
$lci-purple:				#bf33fb;

$gray:						#111;
$gray-medium:				#666;
$gray-light:				#dedede;

// B.	Functional variables
// ------------------------------------------------------------------------- //
$color-primary:				$lci-purple;
$color-primary-dark:		darken($color-primary, 15%);
$color-primary-light:		lighten($color-primary, 15%);

$color-secondary:			$lci-purple;
$color-secondary-dark:	darken($color-secondary, 35%);
$color-secondary-light:	lighten($color-secondary, 35%);

$color-tertiary:			$gray-medium;
$color-tertiary-dark:		$gray;
$color-tertiary-light:	$gray-light;

// C.	Layout colors
// ------------------------------------------------------------------------- //
$color-text:				$color-tertiary-dark;
$color-text-light:			$color-tertiary-light;


$color-link:			    $color-secondary;
$color-link-secondary:	    $color-text; //hover :)

$color-background-dark:		$color-text;


// ========================================================================= //
// IV. Icons
// ========================================================================= //

// List of icons
// ------------------------------------------------------------------------- //
$icons: (
    'comment' '\e000',
    'search' '\e001',
    'twitter' '\e002',
    'facebook' '\e006',
    'twitch' '\e004',
    'youtube' '\e003',
    'email' '\e005',
    'plus' '\e007',
    'caret-left' '\f0d9',
    'caret-right' '\f0da',
    'caret-up' '\f0d8',
    'caret-down' '\f0d7'
);